/*Footer*/
footer {
	background-color: black;
}

.footer__nav {
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

.footer__nav li a {	
	border-left: 2px dotted white;	
	padding: 10px 25px;	
	margin: 10px 0;	
	color:  white;	
	text-transform: uppercase;
	font-size:18px;
}

.footer__nav li a:hover {
	color:  #dc3413;
	transition: all 0.3s ease;
}

.footer__nav li:first-child a {
	border: none;
}

.footer__menu {
	background-color:  #dc3413;
}

.footer__copy {
	background-color:  #d12605;
	padding: 10px 0;
	font-size: 12px;
}
/*Footer -- end*/